$media-max1200: "screen and (max-width: 1200px)";
$media-max1024: "screen and (max-width: 1024px)";
$media-max800: "screen and (max-width: 800px)";
$media-max500: "screen and (max-width: 500px)";
$media-max320: "screen and (max-width: 320px)";
