@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap"); /* =============== Width && Height =============== */
/* =============== Margin && Padding =============== */
/* =============== Flex =============== */
/* =============== Background =============== */
/* =============== Width && Height =============== */
/* =============== Margin && Padding =============== */
/* =============== Flex =============== */
/* =============== Background =============== */
/* =============== Margin =============== */
.mt8 {
  margin-top: 0.5rem;
}
.mt16 {
  margin-top: 1rem;
}
.mt25 {
  margin-top: 1.5625rem;
}
.mt32 {
  margin-top: 2rem;
}
.mt40 {
  margin-top: 2.5rem;
}
.mt50 {
  margin-top: 3.125rem;
}
.mt88 {
  margin-top: 5.5rem;
}
.mt90 {
  margin-top: 5.625rem;
}
.mb8 {
  margin-bottom: 0.5rem;
}
.mb16 {
  margin-bottom: 1rem;
}
.mb25 {
  margin-bottom: 1.5625rem;
}
.mb32 {
  margin-bottom: 2rem;
}
.mb40 {
  margin-bottom: 2.5rem;
}
.mb50 {
  margin-bottom: 3.125rem;
}
.mb88 {
  margin-bottom: 5.5rem;
}
.mb90 {
  margin-bottom: 5.625rem;
}

@media screen and (max-width: 1024px) {
  .--mob-mt8 {
    margin-top: 0.5rem;
  }
  .--mob-mt16 {
    margin-top: 1rem;
  }
  .--mob-mt25 {
    margin-top: 1.5625rem;
  }
  .--mob-mt32 {
    margin-top: 2rem;
  }
  .--mob-mt40 {
    margin-top: 2.5rem;
  }
  .--mob-mt50 {
    margin-top: 3.125rem;
  }
  .--mob-mt88 {
    margin-top: 5.5rem;
  }
  .--mob-mt90 {
    margin-top: 5.625rem;
  }
  .--mob-mb8 {
    margin-bottom: 0.5rem;
  }
  .--mob-mb16 {
    margin-bottom: 1rem;
  }
  .--mob-mb25 {
    margin-bottom: 1.5625rem;
  }
  .--mob-mb32 {
    margin-bottom: 2rem;
  }
  .--mob-mb40 {
    margin-bottom: 2.5rem;
  }
  .--mob-mb50 {
    margin-bottom: 3.125rem;
  }
  .--mob-mb88 {
    margin-bottom: 5.5rem;
  }
  .--mob-mb90 {
    margin-bottom: 5.625rem;
  }
}
/* =============== Width && Height =============== */
/* =============== Margin && Padding =============== */
/* =============== Flex =============== */
/* =============== Background =============== */
/* =============== Padding =============== */
.p8 {
  padding: 0.5rem;
}
.p16 {
  padding: 1rem;
}
.p32 {
  padding: 2rem;
}
.pt8 {
  padding-top: 0.5rem;
}
.pt16 {
  padding-top: 1rem;
}
.pt32 {
  padding-top: 2rem;
}
.pb8 {
  padding-bottom: 0.5rem;
}
.pb16 {
  padding-bottom: 1rem;
}
.pb32 {
  padding-bottom: 2rem;
}
.ptb5 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.ptb8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ptb16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ptb32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ptb40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.plr0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.plr16 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.plr32 {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 1024px) {
  .--mob-p8 {
    padding: 0.5rem;
  }
  .--mob-p16 {
    padding: 1rem;
  }
  .--mob-p32 {
    padding: 2rem;
  }
  .--mob-pt8 {
    padding-top: 0.5rem;
  }
  .--mob-pt16 {
    padding-top: 1rem;
  }
  .--mob-pt32 {
    padding-top: 2rem;
  }
  .--mob-pb8 {
    padding-bottom: 0.5rem;
  }
  .--mob-pb16 {
    padding-bottom: 1rem;
  }
  .--mob-pb32 {
    padding-bottom: 2rem;
  }
  .--mob-ptb5 {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
  .--mob-ptb8 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .--mob-ptb16 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .--mob-ptb32 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .--mob-ptb40 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .--mob-plr0 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .--mob-plr16 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* =============== Width && Height =============== */
/* =============== Margin && Padding =============== */
/* =============== Flex =============== */
/* =============== Background =============== */
/* =============== Flex && Grid =============== */
.flex {
  display: flex;
  /* ===== Flex Direction ===== */
}
.flex.col {
  flex-direction: column;
}
.flex.row-rev {
  flex-direction: row-reverse;
}
.flex.col-rev {
  flex-direction: column-reverse;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.wrap-rev {
  flex-wrap: wrap-reverse;
}
@media screen and (max-width: 1024px) {
  .flex.--mob-row {
    flex-direction: row;
  }
  .flex.--mob-row-rev {
    flex-direction: row-reverse;
  }
  .flex.--mob-col {
    flex-direction: column;
  }
  .flex.--mob-col-rev {
    flex-direction: column-reverse;
  }
  .flex.--mob-wrap {
    flex-wrap: wrap;
  }
  .flex.--mob-wrap-rev {
    flex-wrap: wrap-reverse;
  }
}

.grid {
  display: grid;
}
.grid.col-app {
  grid-template-columns: min-content 1fr;
}
@media screen and (max-width: 1024px) {
  .grid.col-app {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.grid.col-center {
  grid-template-columns: repeat(1, minmax(18.75rem, 87.5rem));
}
@media screen and (max-width: 1024px) {
  .grid.col-center {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.grid.col1 {
  grid-template-columns: 1fr;
}
.grid.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.col3 {
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1024px) {
  .grid.--mob-col1 {
    grid-template-columns: 1fr;
  }
  .grid.--mob-col2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== Align Items ===== */
.a-center {
  align-items: center;
}
.a-end {
  align-items: flex-end;
}
.a-start {
  align-items: flex-start;
}

.--self-a-center {
  align-self: center;
}
.--self-a-end {
  align-self: flex-end;
}
.--self-a-start {
  align-self: flex-start;
}

/* ===== Justify Content ===== */
.j-center {
  justify-content: center;
}
.j-around {
  justify-content: space-around;
}
.j-evenly {
  justify-content: space-evenly;
}
.j-between {
  justify-content: space-between;
}
.j-end {
  justify-content: flex-end;
}
.j-start {
  justify-content: flex-start;
}

.--self-j-center {
  justify-self: center;
}
.--self-j-end {
  justify-self: flex-end;
}
.--self-j-start {
  justify-self: flex-start;
}

/* ===== Gap ===== */
.g3 {
  gap: 0.1875rem;
}
.g5 {
  gap: 0.3125rem;
}
.g8 {
  gap: 0.5rem;
}
.g10 {
  gap: 0.625rem;
}
.g12 {
  gap: 0.75rem;
}
.g16 {
  gap: 1rem;
}
.g20 {
  gap: 1.25rem;
}
.g32 {
  gap: 2rem;
}
.g40 {
  gap: 2.5rem;
}
.g50 {
  gap: 3.125rem;
}
.g60 {
  gap: 3.75rem;
}
.g88 {
  gap: 5.5rem;
}
.g110 {
  gap: 6.875rem;
}

@media screen and (max-width: 1024px) {
  .--mob-g0 {
    gap: 0rem;
  }
  .--mob-g3 {
    gap: 0.1875rem;
  }
  .--mob-g5 {
    gap: 0.3125rem;
  }
  .--mob-g8 {
    gap: 0.5rem;
  }
  .--mob-g12 {
    gap: 0.75rem;
  }
  .--mob-g16 {
    gap: 1rem;
  }
  .--mob-g20 {
    gap: 1.25rem;
  }
  .--mob-g32 {
    gap: 2rem;
  }
  .--mob-g40 {
    gap: 2.5rem;
  }
  .--mob-g60 {
    gap: 3.75rem;
  }
  .--mob-g88 {
    gap: 5.5rem;
  }
  .--mob-g110 {
    gap: 6.875rem;
  }
}
/* =============== Display:none =============== */
.d-none {
  display: none;
}
@media screen and (max-width: 1024px) {
  .d-desk {
    display: none;
  }
}
.d-mob {
  display: none;
}
@media screen and (max-width: 1024px) {
  .d-mob {
    display: block;
  }
  .d-mob.grid {
    display: grid;
  }
  .d-mob.flex {
    display: flex;
  }
}

*[aria-hidden=true] {
  display: none !important;
}

/* =============== Width && Height =============== */
/* =============== Margin && Padding =============== */
/* =============== Flex =============== */
/* =============== Background =============== */
/* =============== Color =============== */
.c-white1 {
  color: var(--c-white1);
}
.c-white2 {
  color: var(--c-white2);
}
.c-white3 {
  color: var(--c-white3);
}
.c-gray1 {
  color: var(--c-gray1);
}
.c-gray2 {
  color: var(--c-gray2);
}
.c-gray3 {
  color: var(--c-gray3);
}
.c-black {
  color: var(--c-black);
}
.c-red {
  color: var(--c-red);
}
.c-green {
  color: var(--c-green);
}

/* =============== Font =============== */
.font {
  /* ===== Complex ===== */
  /* ===== Size ===== */
  /* ===== Line Height ===== */
  /* ===== Weight ===== */
  /* ===== Text Transform ===== */
}
.font.f46 {
  font: normal 700 2.875rem/100% "Inter";
}
.font.f32 {
  font: normal 700 2rem/2.75rem "Inter";
}
.font.f24 {
  font: normal 600 1.5rem/1.875rem "Inter";
}
.font.f22 {
  font: normal 600 1.375rem/1.6875rem "Inter";
}
.font.f20 {
  font: normal 600 1.25rem/1.6875rem "Inter";
}
.font.f16 {
  font: normal 400 1rem/1.375rem "Inter";
}
.font.f14 {
  font: normal 500 0.875rem/1.25rem "Inter";
}
.font.f12 {
  font: normal 500 0.75rem/1rem "Inter";
}
.font.f10 {
  font: normal 500 0.625rem/0.8125rem "Inter";
}
.font.s16 {
  font-size: 1rem;
}
.font.s20 {
  font-size: 1.25rem;
}
.font.s22 {
  font-size: 1.375rem;
}
.font.s32 {
  font-size: 2rem;
}
.font.s44 {
  font-size: 2.75rem;
}
@media screen and (max-width: 1024px) {
  .font.--mob-s10 {
    font-size: 0.625rem;
  }
  .font.--mob-s12 {
    font-size: 0.75rem;
  }
  .font.--mob-s14 {
    font-size: 0.875rem;
  }
  .font.--mob-s16 {
    font-size: 1rem;
  }
  .font.--mob-s20 {
    font-size: 1.25rem;
  }
  .font.--mob-s32 {
    font-size: 2rem;
  }
  .font.--mob-s44 {
    font-size: 2.75rem;
  }
}
.font.lh22 {
  line-height: 1.375rem;
}
.font.lh44 {
  line-height: 2.75rem;
}
@media screen and (max-width: 1024px) {
  .font.--mob-lh-12 {
    line-height: 0.75rem;
  }
  .font.--mob-lh-18 {
    line-height: 1.125rem;
  }
  .font.--mob-lh-22 {
    line-height: 1.375rem;
  }
  .font.--mob-lh-44 {
    line-height: 2.75rem;
  }
}
.font.w300 {
  font-weight: 300;
}
.font.w500 {
  font-weight: 500;
}
.font.w600 {
  font-weight: 600;
}
.font.w700 {
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .font.--mob-w-300 {
    font-weight: 300;
  }
  .font.--mob-w-500 {
    font-weight: 500;
  }
  .font.--mob-w-600 {
    font-weight: 600;
  }
  .font.--mob-w-700 {
    font-weight: 700;
  }
}
.font.tt-up {
  text-transform: uppercase;
}
.font.tt-low {
  text-transform: lowercase;
}
.font.tt-cap {
  text-transform: capitalize;
}
.font.tt-reg::first-letter {
  text-transform: uppercase;
}

/* =============== Width && Height =============== */
/* =============== Margin && Padding =============== */
/* =============== Flex =============== */
/* =============== Background =============== */
.br5 {
  border-radius: 0.3125rem;
}
.br10 {
  border-radius: 0.625rem;
}
.br15 {
  border-radius: 0.9375rem;
}
.br20 {
  border-radius: 1.25rem;
}
.br25 {
  border-radius: 1.5625rem;
}

/* =============== Background =============== */
.bg-white1 {
  background: var(--c-white1);
}
.bg-white2 {
  background: var(--c-white2);
}
.bg-white3 {
  background: var(--c-white3);
}
.bg-gray1 {
  background: var(--c-gray1);
}
.bg-gray2 {
  background: var(--c-gray2);
}
.bg-gray3 {
  background: var(--c-gray3);
}
.bg-black {
  background: var(--c-black);
}
.bg-red {
  background: var(--c-red);
}
.bg-green {
  background: var(--c-green);
}

.no-script-msg {
  width: 100%;
  text-align: center;
}

.content {
  position: relative;
}

*, *::after, *::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

:root {
  --c-white1: #ffffff;
  --c-white2: #b7b7b7;
  --c-white3: #d9d9d9;
  --c-gray1: #3f3f3f;
  --c-gray2: #232222;
  --c-gray3: #1c1c1c;
  --c-black: #0f0f0f;
  --c-red: #ff3951;
  --c-green: #00ffa3;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--c-black);
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* =============== Basic Tags =============== */
a {
  color: var(--c-white1);
}

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: top;
  object-fit: cover;
  object-position: center;
}

a, i {
  font-style: normal;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, i, img, figure, label, input, textarea, button {
  display: block;
}

h1 {
  color: var(--c-white1);
  font: normal 700 2.875rem/100% "Inter";
}

h2 {
  color: var(--c-white2);
  font: normal 700 2rem/2.75rem "Inter";
}

h3 {
  color: var(--c-white3);
  font: normal 600 1.5rem/1.875rem "Inter";
}

input, textarea {
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
i::selection,
input::selection,
textarea::selection {
  color: var(--c-black);
  background: var(--c-green);
}

/* =============== Basic Classes =============== */
.pointer {
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

/*# sourceMappingURL=App.css.map */
