// bloks
$background: #0f0f0f;
$blocks-main-bg-color: #3f3f3f;
$card-main-bg: #1c1c1c;
$card-sec-bg: #232222;
$input-bg: #3f3f3f;
$nav-background: #3f3f3f;
// text
$h1: #ffffff;
$h2: #b7b7b7;
$h3: #b7b7b7;
$th-text: #b7b7b7;
$bold-text: #ffffff;
$text: #ffffff;
$card-main-head: #ffffff;
$table-th-text:  #b7b7b7;
$card-info-text: #b7b7b7;
$input-label: #ffffff;
$input-deskription: #3f3f3f;
$close-x: #b7b7b7;
$green: #00ffa3;
$red: #ff3951;
// buttons
$button-bg-action: #ffffff;
$button-action-text: #3f3f3f;
$button-bg-dismis: #3f3f3f;
$button-action-dismis: #ffffff;
// icons
$nav-icons-color-no-active: #d9d9d9;
$nav-icons-text-no-active: #d9d9d9;
$nav-icons-color-active: #fff;
$nav-icons-text-active: #fff;
